body{
    background-color: darkblue;
    font-family: 'Courier New', Courier, monospace
  }
  div {
      color: lightcoral;
      font-family: 'Courier New', Courier, monospace;
      font-size: larger;
  }
  h1{
    color: blue;
    font-family: monospace;
    font-size: larger;
  }
  ul{
      color: lightblue;
      font-family: monospace;
      font-size: larger;
    }
  .col{
      background-color: grey;
      color: lightblue;
      font-family: 'Courier New', Courier, monospace;
      font-size: medium;

  }